<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
  </head>
  <body>
    <h1>Default Data:</h1>
    <ul>

      {% for item in default_data %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>


    <h1>Tanjiro Kamado:</h1>
    <ul>

      {% for item in tanjiro_kamado %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>

    <h1>Zenitsu Agatsuma:</h1>
    <ul>

      {% for item in zenitsu_agatsuma %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>

    <h1>Inosuke Hashibira:</h1>
    <ul>
   
      {% for item in inosuke_hashibira %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Kanao Tsuyuri:</h1>
    <ul>
   
      {% for item in kanao_tsuyuri %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Genya Shinazugawa:</h1>
    <ul>
   
      {% for item in genya_shinazugawa %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Murata:</h1>
    <ul>
   
      {% for item in murata %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Ozaki:</h1>
    <ul>
   
      {% for item in ozaki %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Nezuko_kamado:</h1>
    <ul>
   
      {% for item in nezuko_kamado %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Muzan Kibutsuji:</h1>
    <ul>
   
      {% for item in muzan_kibutsuji %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Kokushibo:</h1>
    <ul>
   
      {% for item in kokushibo %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Doma:</h1>
    <ul>
   
      {% for item in doma %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
        <h1>Akaza:</h1>
    <ul>
   
      {% for item in akaza %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>    
    
    <h1>Nakime:</h1>
    <ul>
   
      {% for item in nakime %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>

    <h1>Hantengu:</h1>
    <ul>
   
      {% for item in hantengu %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Gyokko:</h1>
    <ul>
   
      {% for item in gyokko %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Gyutaro:</h1>
    <ul>
   
      {% for item in gyutaro %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Daki:</h1>
    <ul>
   
      {% for item in daki %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Kaigaku:</h1>
    <ul>
   
      {% for item in kaigaku %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>

  </ul>
  <h1>Enmu:</h1>
  <ul>
 
    {% for item in enmu %}
    <li>{{ item }}</li>
  {% endfor %}
   
  </ul>

    <h1>Rokuro:</h1>
    <ul>
   
      {% for item in rokuro %}
      <li>{{ item }}</li>
    {% endfor %}
     

    <h1>Wakuraba:</h1>
    <ul>
   
      {% for item in wakuraba %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Mukago:</h1>
    <ul>
   
      {% for item in mukago %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Rui:</h1>
    <ul>
   
      {% for item in rui %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Kamanue:</h1>
    <ul>
   
      {% for item in kamanue %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>
    <h1>Kyogai:</h1>
    <ul>
   
      {% for item in kyogai %}
      <li>{{ item }}</li>
    {% endfor %}
   
  </body>
</html>

