<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
  </head>
  <body>
    <h1>Default Data:</h1>
    <ul>
      {% for item in default_data %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>


    <h1>First Character Data:</h1>
    <ul>
   
      {% for item in first_char_data %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>


    <h1>Last Character Data:</h1>
    <ul>
   
      {% for item in last_char_data %}
      <li>{{ item }}</li>
    {% endfor %}
     
    </ul>

  </body>
</html>
